/* RESET i tło */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #f0f4f8, #e0ecf1);
  color: #1e1e1e;
  min-height: 100vh;
}

/* Tryb ciemny */
body.dark-mode {
  background: linear-gradient(to bottom right, #121212, #1e1e1e);
  color: #f0f0f0;
}

/* GŁÓWNY KONTENER */
.home-container {
  margin-top: 130px; /* Dopasuj do wysokości toolbara */
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* DARK MODE dla kontenera */
body.dark-mode .home-container {
  background-color: rgba(30, 30, 30, 0.95);
  border-color: #444;
  color: #f0f0f0;
}

/* TYTUŁ */
.home-container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

body.dark-mode .home-container h1 {
  color: #ffffff;
}

/* PRZYCISK */
.home-container button {
  background: #444;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
  margin-top: 1rem;
}

.home-container button:hover {
  background: rgb(23, 22, 29);
}

body.dark-mode .home-container button:hover{
  background: #777171;
}